{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Products</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Productname</th>
                <td>{{ entity.productname }}</td>
            </tr>
            <tr>
                <th>Productdescription</th>
                <td>{{ entity.productdescription }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('products') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('products_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
